.todo-app-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.add-task-column {
  flex-basis: 300px;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.input-task,
.add-task-form {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: #6c757d;
}

.add-btn {
  width: 100%;
  padding: 10px;
  background-color: #3bb177;
  color: white;
  border: none;
  cursor: pointer;
}

.add-task-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: #3bb177;
  ;
}

.tasks-grid-container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.todo-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.task-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  list-style-type: none;
}

.task-content {
  margin-bottom: 10px;
}

.task-actions {
  display: flex;
  justify-content: flex-end;
}

.check-btn,
.uncheck-btn,
.edit-btn,
.delete-btn {
  margin-left: 10px;

}

.task-description {
  color: #3bb177;
}

/* Стили для кнопок изменены для отражения состояния выполнения */
.check-btn {
  background-color: #3bb177;
}

.uncheck-btn {
  background-color: #6c757d;
}

.edit-btn {
  background-color: #ffc107;
}

.delete-btn {
  background-color: #dc3545;
}

.save-btn {
  background-color: #3bb177;
  margin-left: 5px;
}

.cancel-btn {
  background-color: #dc3545;
  margin-left: 5px;
}

/* Стили для ближайшего дедлайна и выполненных задач */
.near-deadline {
  color: red;
  font-weight: bold;
}

.deadline {
  color: #6c757d;
}

.completed {
  text-decoration: line-through;
  color: #6c757d;
}