/* .form-container {
    background-color: #363636;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #444;
    color: #fff;
  }
  
  .form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .register {
    color: #007bff;
    text-decoration: underline;
  }
  .register:hover {
    color: #fff;
    cursor: pointer;
  }
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 410px;
}

h2 {
  color: #3bb177;
  /* font-family: Arial, sans-serif; */
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.login-form {
  margin-bottom: 15px;

}

.login-form {
  text-align: center;
}


.login-form input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #fff;
  color: #555;
}

.form-group input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button {
  background-color: #3bb177;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.register {
  color: #007bff;
  text-decoration: underline;
}

.linked-text {
  color: #3bb177
}

.text-gray {
  margin-top: 10px;
  color: #555
}
